.jumbotron { 
    background-color: #4F4552;
    color: #ffffff;
}
 
body{
  background-image: url(../img/jumbo.JPEG);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }




@media screen and (max-width: 768px) {
body{
  background-image: url(../img/jumbomobile.JPEG);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }
}

.logo {
    color: #2C5B59;
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

#bordermevid { border: 3px white solid; }

/* #4F4552 PURPLE*/

/* #D8A6A7 light pink*/

/* #2C5B59 forest green*/

/* #5A1B1F Velvet*/





/*IMAGES*/

.roww {
  display: flex;
  flex-wrap: wrap;
/*  padding: 0 4px;*/
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}*/

.columnmobile {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.columnmobile img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  #desktopvr { display: none; }  /* show it on small screens */
}

@media screen and (min-width: 800px) {
  #desktopvr { display: flex; }   /* hide it elsewhere */
}


@media screen and (min-width: 0px) and (max-width: 799px) {
  #mobilevr { display: flex; }  /* show it on small screens */
}

@media screen and (min-width: 800px) {
  #mobilevr { display: none; }   /* hide it elsewhere */
}
/*IMAGES*/