.jumbotron { 
  background-image: url(../img/jumbotron.JPEG);
  background-position: center;
  background-size: cover;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-top: 5px;
  border-left: 5px;
  border-right: 5px;
  color: #ffffff;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
.jumbotron{
  background-image: url(../img/jumbotronmobile.JPEG);
  background-position: center;
  background-size: cover;
  border: none;
 }
}

/* #E2C270, #D8A6A7, #6EBFDF*/
body{
  background-image: url(../img/jumbo.JPEG);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }




@media screen and (max-width: 768px) {
body{
  background-image: url(../img/jumbomobile2.JPEG);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }
}

.logo {
    color: #2C5B59;
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

#bordermevid { border: 3px white solid; }

#aboutcolumn{
  padding-left: 25%; 
  padding-right: 25%;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  #aboutcolumn { 
  padding-left: 5%; 
  padding-right: 5%;
   }  /* show it on small screens */
}

#about{
  border-style: solid;
  border-color: black;
  border-top: 4px;

  background-color: #D8A6A7;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

#about p{
  font-size: 20px;
}

#abouttop{
  background: linear-gradient(to right, #E2C270, #D8A6A7, #6EBFDF);
  border-style: solid;
  border-color: black;
  border-width: 4px;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

#abouttop h4{
    font-size: 24px;
}

#techcolumn{
  padding-left: 25%; 
  padding-right: 25%;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  #techcolumn { 
  padding-left: 5%; 
  padding-right: 5%;
   }  /* show it on small screens */
}

#techskills{
  border-style: solid;
  border-color: black;
  border-top: 4px;

  background-color: #D8A6A7;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
}

#techskills p{
  font-size: 20px;
}

#techtop{
  background: linear-gradient(to right, #E2C270, #D8A6A7, #6EBFDF);
  border-style: solid;
  border-color: black;
  border-width: 4px;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

#techtop h4{
    font-size: 24px;
}
/* #4F4552 PURPLE*/

/* #D8A6A7 light pink*/

/* #2C5B59 forest green*/

/* #5A1B1F Velvet*/




/*SLANTY SHIT*/


#toscrew{
  background-color: #99979B;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-left: 5px;
  border-right: 5px;
/*font-size: 36px;
text-align: center;*/

  top: 20px;
  left:0px;
  right:0px;
  height:140px;
  color: white ;
  -ms-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
}
#tounscrew{
    -ms-transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 18px
}

#contentnav{
  margin-bottom: 55px;
}
.magicfont{
    width: 100%;
    letter-spacing: 4px;
    text-align: center;
    vertical-align: middle;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    font-size:52px;
    color:white;
    font-weight: bold;
    font-style: italic;
/*    text-shadow:-10px 3px 10px #710D1C;*/
}

.magicfonttech{
    width: 100%;
    letter-spacing: 4px;
    text-align: center;
    vertical-align: middle;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    font-size:52px;
    color:white;
    font-weight: bold;
    font-style: italic;
/*    text-shadow:-10px 3px 10px #710D1C;*/
}


@media screen and (max-width: 600px) {
  .magicfonttech {
font-size: 40px;

  }
}


.magicfontpics{
    width: 100%;
    letter-spacing: 4px;
    text-align: center;
    vertical-align: middle;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    font-size:52px;
    color:white;
    font-weight: bold;
    font-style: italic;
/*    text-shadow:-10px 3px 10px #710D1C;*/
}

/*SLANTY SHIT*/




/*NAVBAR*/
#navbarcolor{
  width: 100%;
  background-color: #99979B;
}


.navbar {
  width: 100%;
    margin-bottom: 0;
    background-color:  #710D1C;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
      border-style: solid;
  border-width: 2px;
  border-color: white;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FF51AE !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/*NAVBAR*/






/*IMAGES*/

.roww {
  display: flex;
  flex-wrap: wrap;
/*  padding: 0 4px;*/
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}*/

.columnmobile {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.columnmobile img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  #desktopvr { display: none; }  /* show it on small screens */
}

@media screen and (min-width: 800px) {
  #desktopvr { display: flex; }   /* hide it elsewhere */
}


@media screen and (min-width: 0px) and (max-width: 799px) {
  #mobilevr { display: flex; }  /* show it on small screens */
}

@media screen and (min-width: 800px) {
  #mobilevr { display: none; }   /* hide it elsewhere */
}
/*IMAGES*/